form {
    max-width: 250px;
    display: flex;
    align-items: center;
    position: relative;

    .searchbar-icon-position{
        position: absolute;
        left: 5px;
    }

    input {
        background-color: #404448;
        border: none;
        color: white;
        font-size: 15px;
        padding: 5px 30px;
        width: 100%;

    }
}


